body{
    background-color: silver;
}
h1, h2{
    text-align: center;
}

header{
    padding: 1.5em;
}
.round-choices{
    text-align: center;
    padding: 1em;
    color:firebrick;
    font-weight: 900;
}