body{
 background-color: silver;
}
h1, h2{
    text-align: center;
}
header{
    padding: 1.5em;
    color: black;
}
.round-choices{
    text-align: center;
    padding: 1em;
    color: black;
    font-weight: 900;
}
.winner-container{
    padding: 10px;
}

.score-box{
    color: black;
}

.player-win{
    color:darkgreen;
    
}
.comp-win{
    color:darkred;
}